<div class="container">
  <div class="row">
    <table *ngIf="!esconder" class="table table-striped table-hover">
      <thead>
        <tr>
          <td>Número</td>
          <td>Nome</td>
          <td>Idade</td>
          <td>Cidade</td>
          <td>Estado</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoas.indexOf(pessoa) + 1}}</td>
          <td>{{pessoa.nome}}</td>
          <td [style.color]="pegarCor(pessoa.idade)">{{pessoa.idade}}</td>
          <td>{{pessoa.cidade}}</td>
          <td>{{pessoa.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <button class="btn btn-primary btn-block mt-3" (click)=alterarExibicao()>{{textoBotao}}</button>
  </div>
</div>
